.contactSection{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #060f29;
}
.contact-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.contactdiv{
    width: 100%;
    height: 100px;
}
.contact-info, .contact-img{
    flex: 50%;
    width: 100%;
}